.Text {
    color: gold;
    font-family: 'Macondo', cursive;
    border: 1px solid;
    padding: 5px;
    background-image: linear-gradient(180deg, rgba(148, 67, 1, 0.548), rgba(255, 217, 0, 0.576));
    text-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
} 

.Boton {
    font-family: 'Macondo', cursive;
    background-color: rgb(113, 113, 113);
    border-radius: 50%;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
    cursor: pointer;
    height: 136px;
    width: 133px;
    transition: 3s;
    margin: 66px;
}

.Title {
    display: flex;
    justify-content: space-around;
    padding-top: 127px;
}

.Boton:hover {
    color: gold;
    border: 2px solid gold;
    background-color: rgb(139, 0, 0);
}
  